<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.arfashion">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission
        android:name="android.permission.WRITE_EXTERNAL_STORAGE"
        tools:ignore="ScopedStorage" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:requestLegacyExternalStorage="true"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.ARFashion"
        android:usesCleartextTraffic="true">

        <meta-data
            android:name="com.facebook.sdk.ApplicationId"
            android:value="@string/facebook_app_id" />

        <activity android:name=".presentation.app.presentation.product.test.ARTestActivity" />
        <activity android:name=".presentation.app.presentation.register.RegisterPhoneUserInfoActivity" />
        <activity android:name=".presentation.app.presentation.address.AddNewAddressActivity" />
        <activity android:name=".presentation.app.presentation.address.ChooseAddressActivity" />
        <activity android:name=".presentation.app.presentation.address.AddressListActivity" />
        <activity android:name=".presentation.app.presentation.forgot_password.ChangePasswordForgotActivity" />
        <activity android:name=".presentation.app.presentation.forgot_password.ForgotPasswordActivity" />
        <activity android:name=".presentation.app.presentation.forgot_password.VerifyForgotPasswordActivity" />
        <activity android:name=".presentation.app.presentation.register.RegisterVerifyActivity" />
        <activity android:name=".presentation.app.presentation.register.RegisterEmailUserInfoActivity" />
        <activity android:name=".presentation.app.presentation.register.RegisterEmailOrPhoneActivity" />
        <activity android:name=".presentation.app.presentation.main.ui.categories.ProductResultActivity" />
        <activity android:name=".presentation.app.presentation.cart.CartActivity" />
        <activity android:name=".presentation.app.presentation.product.detail.ProductDetailActivity" />
        <activity android:name=".presentation.app.presentation.main.ui.profile.ChangePasswordActivity"/>
        <activity android:name=".presentation.app.presentation.main.ui.profile.ProfileDetailActivity" />
        <activity
            android:name=".presentation.app.presentation.main.MainActivity"
            android:label="@string/title_activity_main_ativity"
            android:windowSoftInputMode="adjustPan" />
        <activity android:name=".presentation.app.presentation.login.LoginActivity" />
        <activity android:name=".presentation.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>